<form>
  <div class="agregar">
      <div class="agregar_contenedor">
          <select (change)="tipoOperacion($event)" class="agregar_tipo">
              <option value="ingresoOperacion" selected>+</option>
              <option value="egresoOperacion">-</option>
          </select>
          <input type="text" class="agregar_descripcion" placeholder="Agregar Descripción">
          <input type="number" class="agregar_valor" placeholder="Valor">
          <button class="agregar_btn"><i class="ion-ios-checkmark-outline"></i></button>
      </div>
  </div>
</form>
